In [1]:
import os
import pandas as pd

In [2]:
os.chdir("C:\\Users\\usuario\\Documents\\Data_science\\Data\\cons")
os.getcwd()

'C:\\Users\\usuario\\Documents\\Data_science\\Data\\cons'

In [3]:
data=pd.read_table("revenue_01-04-20172.txt", sep="|", encoding =  "ISO-8859-1")
data_1=pd.read_table("L40101-03-2017c.txt", sep="|", encoding =  "ISO-8859-1")

C:\Users\usuario\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193929 entries, 0 to 193928
Data columns (total 24 columns):
HOTEL                        193929 non-null object
CODIGO_INDIVIDUAL_CENTRAL    193929 non-null int64
ANO                          193929 non-null int64
CODIGO_GRUPO                 186120 non-null float64
GRUPO                        193929 non-null object
SEGMENTO                     193929 non-null object
ORIGEN                       193929 non-null object
ESTADO                       193929 non-null object
TPDI_CODI                    185978 non-null object
ENTRADA                      193929 non-null object
SALIDA                       193929 non-null object
CREACION                     193929 non-null object
ANULACION                    50214 non-null object
TIPO_HAB                     193929 non-null object
ENTI_CODI                    192143 non-null object
ENTI_NOME                    192143 non-null object
NOCHES                       193929 non-null int64
MONEDA                       193921 non-null object
TARIFA_ALOJ_NETA_POR_DIA     193852 non-null float64
SUBESTADO                    193929 non-null object
MOTIVO_ANULACION             54449 non-null object
VALOR_DESAYUNO_POR_DIA       193929 non-null float64
ADULTOS                      193929 non-null int64
OVERBOOKING                  1 non-null object
dtypes: float64(3), int64(4), object(17)
memory usage: 35.5+ MB

In [32]:
df=data[["HOTEL", "ANO", "SEGMENTO", "ORIGEN", "ESTADO", "ENTRADA", "SALIDA", "CREACION", "ANULACION", "NOCHES", "ADULTOS"]]
df=df[df.HOTEL=="Casa Andina Premium Miraflores"]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17066 entries, 0 to 190223
Data columns (total 11 columns):
HOTEL        17066 non-null object
ANO          17066 non-null int64
SEGMENTO     17066 non-null object
ORIGEN       17066 non-null object
ESTADO       17066 non-null object
ENTRADA      17066 non-null object
SALIDA       17066 non-null object
CREACION     17066 non-null object
ANULACION    4155 non-null object
NOCHES       17066 non-null int64
ADULTOS      17066 non-null int64
dtypes: int64(3), object(8)
memory usage: 1.6+ MB

In [35]:
data_1.columns

Index(['HOTEL', 'CODIGO_INDIVIDUAL_CENTRAL', 'ANO', 'CODIGO_GRUPO', 'GRUPO',
       'SEGMENTO', 'ORIGEN', 'ESTADO', 'TPDI_CODI', 'ENTRADA', 'SALIDA',
       'CREACION', 'ANULACION', 'TIPO_HAB', 'ENTI_CODI', 'ENTI_NOME', 'NOCHES',
       'MONEDA', 'TARIFA_ALOJ_NETA', 'SUBESTADO', 'MOTIVO_ANULACION',
       'TARIF_PROM_ALOJ_DESAY_NETA_DIA', 'VALOR_DESAYUNO_POR_DIA', 'ADULTOS',
       'OVERBOOKING'],
      dtype='object')

In [34]:
data.columns

Index(['HOTEL', 'CODIGO_INDIVIDUAL_CENTRAL', 'ANO', 'CODIGO_GRUPO', 'GRUPO',
       'SEGMENTO', 'ORIGEN', 'ESTADO', 'TPDI_CODI', 'ENTRADA', 'SALIDA',
       'CREACION', 'ANULACION', 'TIPO_HAB', 'ENTI_CODI', 'ENTI_NOME', 'NOCHES',
       'MONEDA', 'TARIFA_ALOJ_NETA_POR_DIA', 'SUBESTADO', 'MOTIVO_ANULACION',
       'VALOR_DESAYUNO_POR_DIA', 'ADULTOS', 'OVERBOOKING'],
      dtype='object')